= stylesheet_link_tag "https://pro.fontawesome.com/releases/v5.0.13/css/regular.css", integrity: "sha384-HLkkol/uuRVQDnHaAwidOxb1uCbd78FoGV/teF8vONYKRP9oPQcBZKFdi3LYDy/C", crossorigin: "anonymous"
= stylesheet_link_tag "https://pro.fontawesome.com/releases/v5.0.13/css/brands.css", integrity: "sha384-t3MQUMU0g3tY/0O/50ja6YVaEFYwPpOiPbrHk9p5DmYtkHJU2U1/ujNhYruOJwcj", crossorigin: "anonymous"
= stylesheet_link_tag "https://pro.fontawesome.com/releases/v5.0.13/css/fontawesome.css", integrity: "sha384-LDuQaX4rOgqi4rbWCyWj3XVBlgDzuxGy/E6vWN6U7c25/eSJIwyKhy9WgZCHQWXz", crossorigin: "anonymous"
