html, body {
    height: 100%;
}

.brand-logo {
    i.fab {
        height: initial;
        line-height: initial;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
    }
}

input {
    color: #FFF;
}

label.label-icon {
    position: relative;

    i {
        position: absolute;
        top:50%;
        transform:translateY(-100%);
    }
}

.sidebar {
    height: 100%;
}

.row {
    &.app {
        height: 100%;
    }
}

#playlists {
    a {
        color: #fff;
        padding: 0.25em;

        &:hover {
            text-decoration: underline;
        }
    }
}

#tracks {
    tbody {
        tr:hover {
            background-color: rgba(255,255,255,0.25);
            cursor: pointer;
        }
    }
}

.h100 {
    height: 100%;
}

.row.seekbar {
    position: fixed;
    bottom:0;
    width: 100%;
    height: 7.5%;
    margin: 0;

    .bar {
        position: relative;
        *:not(.time) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        i {
            font-size: 2em;
        }

        .toggleButton {
            text-align: right;
            padding-right: 3em;
            cursor: pointer;
        }

        .progress {
            left: 50%;
            transform: translate(-50%, -50%);
            .determinate {
                height: 100%;
            }
        }

        .time {
            position: absolute;
            right: 0;
            top: 35%;
            transform: translateY(-50%);
        }
    }
}
